<div class="directions">
    <div class="direction design">
        <div class="directions__design_text">
            <p>Дизайн</p>
        </div>
    </div>
    <div class="direction analytics">
        <div class="directions__analytics_text">
            <p>Дизайн</p>
        </div>
    </div>
    <div class="direction skills">
        <div class="directions__skills_text">
            <p>Soft Skills</p>
        </div>
    </div>
    <div class="direction analitic">
        <div class="directions__design_text">
            <p>Аналитика</p>
        </div>
    </div>
</div>