<div class="page__school_filter">
    
    <div class="form__teacher">
        <div class="filter__header top">
            <p>
                Форма обучения
            </p>
        </div>
        <div class="filter__checkbox">
            <div class="checkbox">
                <input type="checkbox"  id="checkbox__filter_1" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_1">Онлайн курс</label>
                <div class="block__show_none">
                    <div class="block__show">
                        <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M-3.0598e-07 7L11.25 13.0622L11.25 0.937823L-3.0598e-07 7Z" fill="#008CFF"/>
                        </svg>                        
                        <p>Показать</p>
                    </div>
                </div>
            </div>
            
            <div class="checkbox__label_inp">
                <div class="checkbox">
                    <input type="checkbox"  id="checkbox__filter_2" class="checkbox__input">
                    <label class="checkbox__label" for="checkbox__filter_2">Офлайн курс</label>
                </div>
            </div>
            <div class="checkbox__label_inp">
                <div class="checkbox">
                    <input type="checkbox"  id="checkbox__filter_3" class="checkbox__input">
                    <label class="checkbox__label" for="checkbox__filter_3">Офлайн курс</label>
                </div>
            </div>
            
        </div>
        <div class="filter__header">
            <p>
                Город:
            </p>
        </div>
        <div class="school__select">
            <div class="personal-settings__input-container">
                <div id="select-city-two" class="custom-select">
                  <div id="select-city__btn-two" class="custom-select__btn">
                    <span>Выберите</span>
                    <svg
                      width="9"
                      height="6"
                      viewBox="0 0 9 6"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M4.5 6L8.39711 0H0.602886L4.5 6Z"
                        fill="#808080"
                      />
                    </svg>
                  </div>
                  <div id="select-city__content-two" class="custom-select__content">
                    <ul id="select-city__options-two" class="options"></ul>
                  </div>
                </div>
                <input id="city-two" type="text" hidden />
              </div>
        </div>
        
        <div class="filter__header">
            <p>
                Направления
            </p>
        </div>
        <div class="checkbox_all">
            <div class="checkbox">
                <input type="checkbox"  id="checkbox__filter_4" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_4">Направление 1</label>
            </div>
            <div class="checkbox">
                <input type="checkbox"  id="checkbox__filter_5" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_5">Направление 2</label>
            </div>
            <div class="checkbox">
                <input type="checkbox"  id="checkbox__filter_6" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_6">Направление 3</label>
            </div>
            <div class="checkbox">
                <input type="checkbox"  id="checkbox__filter_7" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_7">Направление 4</label>
            </div>
            <div class="checkbox">
                <input type="checkbox"  id="checkbox__filter_8" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_8">Направление 5</label>
            </div>
            <div class="checkbox">
                <input type="checkbox"  id="checkbox__filter_9" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_9">Направление 6</label>
            </div>
            <div class="checkbox none">
                <input type="checkbox"  id="checkbox__filter_10" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_10">Направление 5</label>
            </div>
            <div class="checkbox none">
                <input type="checkbox"  id="checkbox__filter_11" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_11">Направление 6</label>
            </div>
            <div class="page__school_select">

                <p class="page__school_link_blue">Показать все</p>
                <svg width="6" height="4" viewBox="0 0 6 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 4L6 0H0L3 4Z" fill="#008CFF"/>
                    </svg>
            </div>
        </div>
        
        <div class="filter__header">
            <p>
                Цена:
            </p>
        </div>
        <div class="page__school_price_container">
            <div class="page__school_price_container_one">
                <div class="page__school_price_container_p">
                    <p>От</p>
                </div>
                <div class="page__school_price_container_input">
                    <input type="text" class="inp price">
                </div>
            </div>
            <div class="page__school_price_container_two">
                <div class="page__school_price_container_p">
                    <p>До</p>
                </div>
                <div class="page__school_price_container_input">
                    <input type="text" class="inp price">
                </div>
            </div>
        </div>
        <div class="filter__header">
            <p>
                Продолжительность курса
            </p>
        </div>
        <div class="checkbox">
            <input type="checkbox"  id="checkbox__filter_12" class="checkbox__input">
            <label class="checkbox__label" for="checkbox__filter_12">До 1 месяца</label>
        </div>
        <div class="checkbox">
            <input type="checkbox"  id="checkbox__filter_13" class="checkbox__input">
            <label class="checkbox__label" for="checkbox__filter_13">От 1  до 3 месяцев</label>
        </div>
        <div class="checkbox">
            <input type="checkbox"  id="checkbox__filter_14" class="checkbox__input">
            <label class="checkbox__label" for="checkbox__filter_14">От 3 до 6 месяцев</label>
        </div>
        <div class="checkbox">
            <input type="checkbox"  id="checkbox__filter_15" class="checkbox__input">
            <label class="checkbox__label" for="checkbox__filter_15">От 6 месяцев до 1 года</label>
        </div>
        <div class="checkbox">
            <input type="checkbox"  id="checkbox__filter_16" class="checkbox__input">
            <label class="checkbox__label" for="checkbox__filter_16">От 1 года</label>
        </div>
        <div class="filter__header">
            <p>
                Формат обучения
            </p>
        </div>
        <div class="checkbox_all">
            <div class="checkbox">
                <input type="checkbox"  id="checkbox__filter_17" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_17">Онлайн-курс</label>
            </div>
            <div class="checkbox">
                <input type="checkbox"  id="checkbox__filter_18" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_18">Вебинар</label>
            </div>
            <div class="checkbox">
                <input type="checkbox"  id="checkbox__filter_19" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_19">Мастер-класс</label>
            </div>
            <div class="checkbox">
                <input type="checkbox"  id="checkbox__filter_20" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_20">Марафон</label>
            </div>
            <div class="checkbox">
                <input type="checkbox"  id="checkbox__filter_21" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_21">Практикум</label>
            </div>
            <div class="checkbox none">
                <input type="checkbox"  id="checkbox__filter_22" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_22">Направление 5</label>
            </div>
            <div class="checkbox none">
                <input type="checkbox"  id="checkbox__filter_23" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_23">Направление 6</label>
            </div>
            <div class="page__school_select">
                <p class="page__school_link_blue">Показать все</p>
                <svg width="6" height="4" viewBox="0 0 6 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 4L6 0H0L3 4Z" fill="#008CFF"/>
                    </svg>
            </div>
        </div>
        <div class="filter__header">
            <p>
                Школа/автор
            </p>
        </div>
        <div class="checkbox_all">
            <div class="checkbox">
                <input type="checkbox"  id="checkbox__filter_24" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_24">Акулов Иван Борисович</label>
            </div>
            <div class="checkbox">
                <input type="checkbox"  id="checkbox__filter_25" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_25">Школа бабушки Клавы</label>
            </div>
            <div class="checkbox">
                <input type="checkbox"  id="checkbox__filter_26" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_26">Skillbox</label>
            </div>
            <div class="checkbox">
                <input type="checkbox"  id="checkbox__filter_27" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_27">Школа Адекватных Родителей</label>
            </div>
            <div class="checkbox">
                <input type="checkbox"  id="checkbox__filter_28" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_28">Иванова Светлана Ивановна</label>
            </div>
            <div class="checkbox none">
                <input type="checkbox"  id="checkbox__filter_29" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_29">Направление 5</label>
            </div>
            <div class="checkbox none">
                <input type="checkbox"  id="checkbox__filter_30" class="checkbox__input">
                <label class="checkbox__label" for="checkbox__filter_30">Направление 6</label>
            </div>
            <div class="page__school_select">
                <p class="page__school_link_blue">Показать все</p>
                <svg width="6" height="4" viewBox="0 0 6 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 4L6 0H0L3 4Z" fill="#008CFF"/>
                </svg>
            </div>
        </div>
        <div class="btn__container">
            <a href="" class="btn blue">Сбросить фильтры</a>
        </div>
    </div>
</div>

<script src="js/filter.js"></script>
<script src="js/selectCityTwo.js"></script>