
    <div class="page__course_menu">
        
        <div class="page__course_menu_header">
            <div class="page__course_menu_header_svg">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5098 0.344727C22.4869 0.544144 23.4361 0.825097 24.3504 1.17856L35.0255 24.298C34.7021 25.2529 34.3054 26.1722 33.839 27.0488L21.5098 0.344727Z" fill="#F47C44"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M28.8711 3.7373C33.1984 7.09415 35.9994 12.3986 35.9994 18.3484C35.9994 18.6129 35.9936 18.8762 35.9832 19.1384L28.8711 3.7373Z" fill="#F47C44"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.14396 27.02C1.67866 26.1411 1.28199 25.2195 0.960938 24.261L11.6139 1.1902C12.5294 0.83431 13.4786 0.550852 14.458 0.351562L2.14396 27.02Z" fill="#F47C44"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0139282 19.0834C0.00462951 18.8402 0 18.5947 0 18.3491C0 12.4195 2.78247 7.13164 7.08414 3.77246L0.0139282 19.0834Z" fill="#F47C44"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0007 26.4146C15.5312 26.4146 13.5164 24.359 13.5164 21.8408C13.5164 19.3225 15.5312 17.2681 18.0007 17.2681C20.4703 17.2681 22.4851 19.3225 22.4851 21.8408C22.4851 24.359 20.4703 26.4146 18.0007 26.4146ZM17.987 0L4.12695 30.0182C6.4197 32.8472 9.52673 34.9668 13.0746 36V29.3112H22.9273V36C26.4659 34.9691 29.5659 32.8578 31.8575 30.0407L17.987 0Z" fill="#F47C44"/>
                </svg>
            </div>
            <div class="page__course_menu_header_text">
                <p>Уфимская кадемия современного образования и технологий </p>
            </div>
        </div>
        <div class="page__course_menu_grade">
            <div class="page__course_menu_grade_one">
                <div class="school__estimates_svg_one">
                    <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 1.37504L13.3274 7.33736L13.444 7.63612L13.7642 7.65471L20.1539 8.02572L15.2026 12.0817L14.9545 12.2849L15.0357 12.5951L16.6574 18.7868L11.27 15.3311L11 15.158L10.73 15.3311L5.34259 18.7868L6.96426 12.5951L7.04552 12.2849L6.79743 12.0817L1.84612 8.02572L8.23583 7.65471L8.556 7.63612L8.67262 7.33736L11 1.37504Z" fill="#FFC700" stroke="#FFC700"/>
                    </svg>
                </div>
                <div class="page__school__estimates_num">
                    <p>4.7</p>
                </div>
            </div>
            <div class="page__course_menu_grade_two">
                <div class="page_school__estimates_text">
                    <p>(156 отзывов)</p>
                </div>
            </div>
        </div>
        <div class="page__course_menu_middle">
            <div class="page__course_menu_middle_header">
                <p>Что входит в курс:</p>
            </div>
            <div class="page__course_menu_middle_text">
                <div class="page__course_menu_middle_text_name">
                    <p>Лекций</p>
                </div>
                <div class="page__course_menu_middle_text_num">
                    <p>29</p>
                </div>
            </div>
            <div class="page__course_menu_middle_text">
                <div class="page__course_menu_middle_text_name">
                    <p>Часов видео</p>
                </div>
                <div class="page__course_menu_middle_text_num">
                    <p>4</p>
                </div>
            </div>
            <div class="page__course_menu_middle_text">
                <div class="page__course_menu_middle_text_name">
                    <p>Тестов</p>
                </div>
                <div class="page__course_menu_middle_text_num">
                    <p>15</p>
                </div>
            </div>
            <div class="page__course_menu_middle_text">
                <div class="page__course_menu_middle_text_name">
                    <p>Сертификат </p>
                </div>
                <div class="page__course_menu_middle_text_num">
                    <p>1</p>
                </div>
            </div>
        </div>
        <div class="page__course_menu_price">
            <p>@@price</p>
        </div>
        <div class="page__course_menu_buttons">
            <div class="page__school_btn_container">
                <a href="" class="btn__blue_background">Купить курс</a>
            </div>
            <div class="page__school_btn_container">
                <a href="" class="btn__blue">Добавить в избранное</a>
            </div>
        </div>
        <div class="page__course_menu_footer">
            <div class="page__course_menu_footer_text">
                <p>Доступно для корпоративного </p>
                <div class="page__course_menu_footer_text_svg">
                    <p>обучения юр. лицам </p>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="14" height="14" rx="7" fill="#008CFF"/>
                        <path d="M7.00033 3.5C6.30432 3.50077 5.63707 3.7428 5.14492 4.17299C4.65276 4.60319 4.37588 5.18644 4.375 5.79483H5.70969C5.70969 5.17242 6.28894 4.66667 7.00033 4.66667C7.71172 4.66667 8.29098 5.17242 8.29098 5.79483C8.29098 6.14367 7.96999 6.39683 7.47949 6.74333C7.31925 6.85306 7.16535 6.96967 7.01835 7.09275C6.35234 7.67433 6.33299 8.29208 6.33299 8.36092V8.75H7.66768L7.66701 8.38075C7.66768 8.37142 7.68903 8.15558 7.96131 7.91817C8.06141 7.83067 8.18754 7.74317 8.31834 7.651C8.8382 7.28292 9.625 6.727 9.625 5.79483C9.62447 5.18645 9.34779 4.60311 8.85571 4.17286C8.36362 3.74261 7.69634 3.50062 7.00033 3.5ZM6.33299 9.33333H7.66768V10.5H6.33299V9.33333Z" fill="white"/>
                    </svg>  
                    <div class="prompt__container">
                        <p>текст всплывающей подсказки</p>
                        <div class="prompt__svg_container">
                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 12L13.0622 0.75H0.937822L7 12Z" fill="white"/>
                            </svg>   
                        </div>
                                                 
                    </div>
                </div>
                <div class="page__course_menu_footer_number">
                    <a href="tel:+7(927)315-76-98" class="page__course_menu_footer_link">+7 (927) 315-76-98</a>
                </div>
                <div class="page__course_menu_footer_email">
                    <a href="mailto:dmitriy_kurs@gmail.com" class="page__course_menu_footer_link">dmitriy_kurs@gmail.com</a>
                </div>
                    
            </div>
        </div>

    </div>
