<div class="page__course_info">
                        
    <div class="project__header">
        <h1>Технология Unity 3D - разработка игр для начинающих</h1>
    </div>
    <div class="page__course_text">
        <p>Ваш ребенок увлечен видеоиграми? Не ограничивайте его интерес, а лучше позвольте ему взглянуть на игровой мир по-новому. Запишите ребенка на курс по созданию компьютерных игр на Unity3D! Так из простого геймера он станет создателем собственной игровой вселенной.</p>
    </div>
    <div class="page__course_information">
        <div class="page__course_information_block">
            <div class="page__course_information_block_header">
                <p>Длительность курса</p>
            </div>
            <div class="page__course_information_block_text">
                <p>14.02.2022  - 18.04.2022</p>
            </div>
        </div>
        <div class="page__course_information_block">
            <div class="page__course_information_block_header">
                <p>Формат обучения</p>
            </div>
            <div class="page__course_information_block_text">
                <p>Онлайн-курс</p>
            </div>
        </div>
        <div class="page__course_information_block">
            <div class="page__course_information_block_header">
                <p>Результат</p>
            </div>
            <div class="page__course_information_block_text">
                <p>Дизайн-удостоверение</p>
            </div>
        </div>
    </div>
</div>