<div class="page__selection_menu">
    <nav class="link__num_page active__page"><a href="#">1</a></nav>
    <nav class="link__num_page"><a href="#">2</a></nav>
    <nav class="link__num_page"><a href="#">3</a></nav>
    <nav class="link__num_page"><a href="#">4</a></nav>
    <nav class="link__num_page"><a href="#">5</a></nav>
    <nav class="link__num_page"><a href="#">6</a></nav>
    <nav class="link__num_page"><a href="#">...</a></nav>
    <nav class="link__num_page"><a href="#">12</a></nav>
</div>