<div class="page__course_direction">
    <div class="page__course_direction_text">
        <p>Направления</p>
    </div>
    <div class="page__course_direction_container">
        <div class="direction design">
            <div class="directions__design_text">
                <p>Дизайн</p>
            </div>
            
        </div>
        <div class="direction analytics">
            <div class="directions__analytics_text">
                <p>Аналитика</p>
            </div>
            
        </div>

        <div class="direction skills">
            <div class="directions__skills_text">
                <p>Soft Skills</p>
            </div>
            
        </div>
    </div>
</div>