<div class="card-course__selects">
  <div id="select-course-direction_tab_2" class="custom-select">
    <div id="select-course-direction__btn_tab_2" class="custom-select__btn">
      <span>Направление</span>
      <svg
        width="9"
        height="6"
        viewBox="0 0 9 6"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M4.5 6L8.39711 0H0.602886L4.5 6Z" fill="#808080" />
      </svg>
    </div>
    <div
      id="select-course-direction__content_tab_2"
      class="custom-select__content"
    >
      <ul id="select-course-direction__options_tab_2" class="options"></ul>
    </div>
  </div>
  <input id="course-direction_tab_2" type="text" hidden />
  <div id="select-course-author_tab_2" class="custom-select">
    <div id="select-course-author__btn_tab_2" class="custom-select__btn">
      <span>Школа/Автор</span>
      <svg
        width="9"
        height="6"
        viewBox="0 0 9 6"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M4.5 6L8.39711 0H0.602886L4.5 6Z" fill="#808080" />
      </svg>
    </div>
    <div
      id="select-course-author__content_tab_2"
      class="custom-select__content"
    >
      <ul id="select-course-author__options_tab_2" class="options"></ul>
    </div>
  </div>
  <input id="course-author_tab_2" type="text" hidden />
  <div id="select-course-sort_tab_2" class="custom-select">
    <div id="select-course-sort__btn_tab_2" class="custom-select__btn">
      <span>Сортировать по статусу</span>
      <svg
        width="9"
        height="6"
        viewBox="0 0 9 6"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M4.5 6L8.39711 0H0.602886L4.5 6Z" fill="#808080" />
      </svg>
    </div>
    <div
      id="select-course-sort__content_tab_2"
      class="custom-select__content"
    >
      <ul id="select-course-sort__options_tab_2" class="options"></ul>
    </div>
  </div>
  <input id="course-sort_tab_2" type="text" hidden />
</div>
