<div class="card-course__selects">
  <div id="select-course-direction" class="custom-select">
    <div id="select-course-direction__btn" class="custom-select__btn">
      <span>Направление</span>
      <svg
        width="9"
        height="6"
        viewBox="0 0 9 6"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M4.5 6L8.39711 0H0.602886L4.5 6Z" fill="#808080" />
      </svg>
    </div>
    <div
      id="select-course-direction__content"
      class="custom-select__content"
    >
      <ul id="select-course-direction__options" class="options"></ul>
    </div>
  </div>
  <input id="course-direction" type="text" hidden />
  <div id="select-course-author" class="custom-select">
    <div id="select-course-author__btn" class="custom-select__btn">
      <span>Школа/Автор</span>
      <svg
        width="9"
        height="6"
        viewBox="0 0 9 6"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M4.5 6L8.39711 0H0.602886L4.5 6Z" fill="#808080" />
      </svg>
    </div>
    <div
      id="select-course-author__content"
      class="custom-select__content"
    >
      <ul id="select-course-author__options" class="options"></ul>
    </div>
  </div>
  <input id="course-author" type="text" hidden />
  <div id="select-course-sort" class="custom-select">
    <div id="select-course-sort__btn" class="custom-select__btn">
      <span>Сортировать по статусу</span>
      <svg
        width="9"
        height="6"
        viewBox="0 0 9 6"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M4.5 6L8.39711 0H0.602886L4.5 6Z" fill="#808080" />
      </svg>
    </div>
    <div
      id="select-course-sort__content"
      class="custom-select__content"
    >
      <ul id="select-course-sort__options" class="options"></ul>
    </div>
  </div>
  <input id="course-sort" type="text" hidden />
</div>
