<!-- <div class="index__slider_mobile_container">
    <div class="swiper mySwiper_three">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swipper__slide_img">
                <img src="images/item__active.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swipper__slide_img">
                <img src="images/item__next.png" alt="">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swipper__slide_img">
                <img src="images/item__next.png" alt="">
            </div>
          </div>
        </div>
      </div>
</div> -->