.page__school_reviews_container {
    padding: rem(24px);
    background-color: $white;
    border-radius: rem(20px);
    margin:  0 0 rem(32px) 0;
}
.page__school_reviews_row {
    display: flex;
    margin: 0 0 rem(20px) 0;
    // align-items: center;
}
.page__school_reviews_img {
    width: rem(82px);
    height: rem(82px);
    & img{
        width: 100%;
        border-radius: 50%;
    }
}
.page__school_reviews_column {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 rem(20px);
}
.page__school_reviews_name {
    margin: 0 0 rem(12px) 0;
    & p{
        font-size: rem(20px);
        font-weight: 700;

    }
}
.page__school_reviews_grade {
    & p{
        color: #575757;
        font-size: rem(14px);

    }
}
.page__school_review{
    & p{
        font-size: rem(16px);
        line-height: rem(22px);
    }
}
.page__school_reviews {
    max-width: rem(811px);
    width: 100%;
    margin: rem(70px) 0 rem(70px) 0;
    @include tablet{
        margin: rem(20px) 0 rem(30px) 0;
    }
}
.btn__container.center{
    
    @include tablet{
        display: flex;
        justify-content: center;
    }
}