.body__recovery {
    margin-bottom: 170px;
}

.return {
    display: flex;
    align-items: center;
    max-width: 520px;
    width: 100%;
    margin: 0 auto 18px auto;

    & a {
        margin-left: 8px;
        color: #000;
        font-size: 14px;
    }
}

.middle__text {
    margin-bottom: 32px;

    @include tablet {
        margin-bottom: 28px;
    }
}